* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 250px;
}

body {
    font-family: 'Play', sans-serif;
}

.header {
    background: rgba(119, 0, 255, 0.500);
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background-color: #eee;
    font-size: 18px;
    transition: 0.2;;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
